/* Styles for Search Component */
#app-container {
  padding-top: 75px;
}

#title {
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

#top-half {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

#bottom-half {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 40px;
}

#search-and-sort {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

/* Styles for SortBox Component */
.sort-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  width: 120px;
  height: 65px;
}

#history-table {
  display: flex;
}

.history-table {
  border-radius: 5px;

}

.mantine-r4jv5v {
  justify-content: center;
}