.nav-bar {
  background: #1e2129;
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 4px rgb(148, 148, 148) solid;
}

.tab-box {
  margin-right: 15px;
}

.tab {
  margin: 5px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(178, 178, 178);
}