.nav-bar {
  background: #1e2129;
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 4px rgb(148, 148, 148) solid;
}

.tab {
  padding: 16px;
  width: auto;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  background-color: rgb(81, 81, 81);
}